.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar {
  padding: 0 10px;
}

.nav-bar li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.nav-bar li a {
  text-decoration: none;
  color: white;
  transition: ease-out 0.2s;
}

.nav-bar li a:hover {
  text-shadow: #f2f2f2 0 0 2px;
  transition: ease-in 0.2s;
}

.navbar-logo {
  padding: 0 10px
}

#logo {
  width: 60px;
  transition: ease-out 0.2s;
  /* border-radius: 50%; */
}

#logo:hover {
  filter: drop-shadow(0 0 2px #f2f2f2);
  transition: ease-in 0.2s;
}